@model projectMVC.viewModel.EmployeViewModel
@{
    ViewBag.Title = "Delete";
}

<h2>Are you want to deletet Employee @Model.Name</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(e=>e.Id)
    <h2>   @Model.Name</h2>
    <h2>   @Model.Phone</h2>
    <h2>   @Model.Salary</h2>
    <h2>   @Model.Adress</h2>
    <h2>   @Model.Job</h2>


    <button type="submit"> delete Employee</button>
    @Html.ActionLink("Cancel","index")
}