@model projectMVC.viewModel.DrinkViewModel
@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h2>Are you want to deletet Drink  @Model.Name</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(e => e.Id)
    <h2>   @Model.Name</h2>
    <h2>   @Model.Sale</h2>
    <h2>   @Model.Buy</h2>
    <h2>   @Model.Profit</h2>
    <h2>   @Model.Amonut</h2>


    <button type="submit"> delete </button>
    @Html.ActionLink("Cancel", "index")
}