@model IEnumerable<projectMVC.viewModel.DrinkViewModel>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


@if (ViewBag.type == projectMVC.enums.BussinessType.Coffie)
{
    @Html.Partial("_AdminCoffie")
}
else
{
    @Html.Partial("_AdminWorkspace")

}

<h1> @Html.ActionLink("Create New Employe", "Create") </h1>


<table class="table">

    <tr>
        <td> Name </td>
        <td> Buy </td>
        <td> Sale </td>
        <td> Profit </td>
        <td> Amout </td>
        <td> Edit Drink </td>

        <td> Delete Drink</td>

    </tr>
    @foreach (var item in Model)

    {
        <tr>
            <td>@item.Name </td>
            <td> @item.Buy </td>
            <td> @item.Sale </td>
            <td> @item.Profit </td>
            <td> @item.Amonut </td>
            <td>@Html.ActionLink("Edit Drink", "Edit", new { id = item.Id }) </td>

            <td>@Html.ActionLink("Delete Drink", "Delete", new { id = item.Id }) </td>
        </tr>
    }
</table>

